@page "/mapbox"

@using Grpc.Core
@using GPRCStreaming
@using System.Diagnostics
@using System.Threading.Tasks

@inject IJSRuntime JSRuntime;
@inject System.Net.Http.IHttpClientFactory _clientFactory
@inject GPRCStreaming.LocationData.LocationDataClient _locationDataClient

<table class="tableAction">
    <tbody>
        <tr>
            <td>
                <div class="data-input">
                    <label for="dataLimit">No of records to fetch</label>
                    <input id="dataLimit" type="number" @bind="_dataLimit" />
                    <button @onclick="FetchDataAndUpdateMap" class="btn-submit">Load data</button>
                </div>
            </td>
            <td>
                <p class="info">
                    Total records: <span class="count">@_locations.Count</span>
                </p>
                <p class="info">
                    Time taken: <span class="time">@_stopWatch.ElapsedMilliseconds</span> milliseconds
                </p>
            </td>
        </tr>
    </tbody>
</table>

<div id='map' style="width: 100%; height: 90vh;"></div>

@code {
    private int _dataLimit = 1000;

    private bool _updateIndividual = false;

    private List<object> _locations = new List<object>();

    private Stopwatch _stopWatch = new Stopwatch();

    private static Func<Task> func;

    protected override void OnInitialized()
    {
        func = new Func<Task>(FetchDataAndUpdateMap);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        await JSRuntime.InvokeVoidAsync("mapBoxFunctions.initMapBox");
    }

    [JSInvokable]
    public static void LoadClusterData()
    {
        func.Invoke();
    }

    private async Task FetchDataAndUpdateMap()
    {
        ResetState();

        _stopWatch.Start();

        using (var call = _locationDataClient.GetLocations(new GetLocationsRequest { DataLimit = _dataLimit }))
        {
            await foreach (var response in call.ResponseStream.ReadAllAsync())
            {
                var pow = Math.Pow(10, 7);
                var longitude = response.LongitudeE7 / pow;
                var latitude = response.LatitudeE7 / pow;

                var clusterData = new
                {
                    type = "Feature",
                    geometry = new
                    {
                        type = "Point",
                        coordinates = new double[] { longitude, latitude }
                    }
                };

                if (_updateIndividual)
                {
                    JSRuntime.InvokeVoidAsync("mapBoxFunctions.addToClusterData", clusterData);
                }

                _locations.Add(clusterData);

                StateHasChanged();
            }

            _stopWatch.Stop();

            if (!_updateIndividual)
            {
                await JSRuntime.InvokeVoidAsync("mapBoxFunctions.addClusterData", _locations);
            }
        }
    }

    private void ResetState()
    {
        JSRuntime.InvokeVoidAsync("mapBoxFunctions.clearClusterData");

        _locations.Clear();

        _stopWatch.Reset();

        StateHasChanged();
    }
}
